In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("D:\My work world\AI Mafia\dataset\Train.csv")
df.head()

   feature_1  feature_2  feature_3  feature_4  feature_5     target
0   0.293416  -0.945599  -0.421105   0.406816   0.525662 -82.154667
1  -0.836084  -0.189228  -0.776403  -1.053831   0.597997 -48.897960
2   0.236425   0.132836  -0.147723   0.699854  -0.187364  77.270371
3   0.175312   0.143194  -0.581111  -0.122107  -1.292168  -2.988581
4  -1.693011   0.542712  -2.798729  -0.686723   1.244077 -37.596722

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600 entries, 0 to 1599
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   feature_1  1600 non-null   float64
 1   feature_2  1600 non-null   float64
 2   feature_3  1600 non-null   float64
 3   feature_4  1600 non-null   float64
 4   feature_5  1600 non-null   float64
 5   target     1600 non-null   float64
dtypes: float64(6)
memory usage: 75.1 KB

In [7]:
df.isnull().sum()

feature_1    0
feature_2    0
feature_3    0
feature_4    0
feature_5    0
target       0
dtype: int64

In [60]:
x = pd.DataFrame(np.c_[df['feature_1'],df['feature_2'],df['feature_3'],df['feature_4'],df['feature_5']])
x

             0         1         2         3         4
0     0.293416 -0.945599 -0.421105  0.406816  0.525662
1    -0.836084 -0.189228 -0.776403 -1.053831  0.597997
2     0.236425  0.132836 -0.147723  0.699854 -0.187364
3     0.175312  0.143194 -0.581111 -0.122107 -1.292168
4    -1.693011  0.542712 -2.798729 -0.686723  1.244077
...        ...       ...       ...       ...       ...
1595 -0.274961 -0.820634 -0.757173 -0.147555 -0.307149
1596 -0.076099  0.255257  0.290054  1.796036  0.340350
1597  1.044177 -0.899206  1.730399 -1.871057  0.442520
1598 -1.269173 -0.005052  1.857669 -1.080365  0.736334
1599 -1.884000 -0.849427 -1.452270  0.488613  1.459576

[1600 rows x 5 columns]

In [61]:
y = df['target']
y

0       -82.154667
1       -48.897960
2        77.270371
3        -2.988581
4       -37.596722
           ...
1595    -80.110012
1596    118.315601
1597   -107.510508
1598    -47.341558
1599   -115.939003
Name: target, Length: 1600, dtype: float64

In [62]:
from sklearn.linear_model import LinearRegression

In [63]:
model = LinearRegression()

In [64]:
model.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [65]:
df_test = pd.read_csv("D:\My work world\AI Mafia\dataset\Test.csv")

In [66]:
x_test = np.c_[df_test['feature_1'],df_test['feature_2'],df_test['feature_3'],df_test['feature_4'],df_test['feature_5']]
x_test

array([[ 1.01525387e+00,  2.07620944e+00, -2.66434820e-01,
        -2.41808820e+00, -9.80502790e-01],
       [-3.75021204e-01,  9.53184528e-01,  6.26719138e-01,
         7.04405750e-01, -3.55489211e-01],
       [-1.02445225e+00,  9.62991107e-01, -4.07942004e-01,
        -1.86127383e+00,  4.55201351e-01],
       ...,
       [ 5.54727647e-01,  1.76824345e+00, -8.97787210e-01,
        -1.19366107e+00,  3.40563374e-01],
       [-1.62717246e+00,  8.56470994e-01, -5.65729519e-04,
         6.29386649e-01,  4.53382144e-01],
       [ 1.39310499e-01,  5.31597186e-01, -8.53107053e-01,
         3.16920076e-02,  1.71489304e+00]])

In [67]:
output = model.predict(x_test)

In [68]:
intercept = model.intercept_
slope = model.coef_
slope

array([29.68187118, 92.66247759,  8.28062089, 44.76773522,  2.51916121])

In [69]:
model.score(x,y)

0.9660939669975616